*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #252839;

}

h2 {
    position: relative;
    font-size: 14vh;
    color: #252839;
    -webkit-text-stroke: 0.3px #383d52;
    text-transform: uppercase;
}

h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #fc7100;
    -webkit-text-stroke: 0px #fea;
    border-right: 2px solid;
    overflow: hidden;
    animation: animate 2s linear infinite;
}
@keyframes animate 

{
    0%,10%,100%
    
    {
        width: 0;
    }
    70%, 90% 
    {
        width: 100%;
    }
}